In [2]:
# importing the libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [7]:
page = requests.get(url)

In [8]:
soup= BeautifulSoup(page.text,'html')

In [16]:
table = soup.find_all('table')[3]

In [20]:
titles = table.find_all('th')

In [21]:
table_titles =[title.text.strip() for title in titles ]
table_titles

['Rank', 'Name', 'Industry', 'Profits(USD millions)']

In [22]:
df = pd.DataFrame(columns=table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Profits(USD millions)]
Index: []

In [25]:
column_data = table.find_all('tr')

In [26]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    rows = [data.text.strip() for data in row_data]
    lenght = len(df)
    df.loc[lenght] = rows
    
df

,Rank,Name,Industry,Profits(USD millions)
0,1,Apple,Electronics,"99,803"
1,2,Microsoft,Technology,"72,738"
2,3,Alphabet,Technology,"59,972"
3,4,United States Postal Service,Logistics,"56,046"
4,5,ExxonMobil,Petroleum industry,"55,740"
5,6,JPMorgan Chase,Financials,"37,676"
6,7,Chevron Corporation,Petroleum industry,"35,465"
7,8,Pfizer,Pharmaceutical industry,"31,372"
8,9,Bank of America,Financials,"27,528"
9,10,Meta Platforms,Technology,"23,200"

In [27]:
df.to_csv(r"C:\Users\Apex PC\Downloads\USA companies web scraping\biggest usa companies by profit.csv")